In [38]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Lasso,Ridge,ElasticNet
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error,r2_score

In [39]:
data=pd.read_csv('data.csv')

In [40]:
data.head()

,origin,cylinders,displacement,horsepower,weight,acceleration,year,name,Kilometer_per_liter
0,1,8,307.0,130,3504,12.0,1970,chevrolet chevelle malibu,7.652587
1,1,8,350.0,165,3693,11.5,1970,buick skylark 320,6.377156
2,1,8,318.0,150,3436,11.0,1970,plymouth satellite,7.652587
3,1,8,304.0,150,3433,12.0,1970,amc rebel sst,6.802299
4,1,8,302.0,140,3449,10.5,1970,ford torino,7.227443

In [41]:
data['horsepower']=data['horsepower'].replace(to_replace='?',value='np.nan')

In [42]:
data.iloc[32]

origin                          1
cylinders                       4
displacement                 98.0
horsepower                 np.nan
weight                       2046
acceleration                 19.0
year                         1971
name                   ford pinto
Kilometer_per_liter     10.628593
Name: 32, dtype: object

In [43]:
x=data.drop(['Kilometer_per_liter'],axis=1)
y=data[['Kilometer_per_liter']]

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=0)

In [46]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((358, 8), (40, 8), (358, 1), (40, 1))

In [47]:
dataCategorical=x_train.select_dtypes(object)
dataNumerical=x_train.select_dtypes(np.number)

In [48]:
from sklearn.impute import SimpleImputer

sImputerCategorical = SimpleImputer(strategy="most_frequent")

In [49]:
sImputerCategorical.fit(dataCategorical)

SimpleImputer(strategy='most_frequent')

In [50]:
temp = sImputerCategorical.transform(dataCategorical)
dataCategoricalNARemoved = pd.DataFrame(temp,
                                            columns=dataCategorical.columns)
dataCategoricalNARemoved.iloc[32]

horsepower             87
name          peugeot 504
Name: 32, dtype: object

In [51]:
from sklearn.impute import SimpleImputer
sImputerNumerical = SimpleImputer(strategy="mean")

In [52]:
sImputerNumerical.fit(dataNumerical)

SimpleImputer()

In [53]:
temp = sImputerNumerical.transform(dataNumerical)
dataNumericalNARemoved = pd.DataFrame(temp,
                                            columns=dataNumerical.columns)
dataNumericalNARemoved
dataNumerical.isna().sum()

origin          0
cylinders       0
displacement    0
weight          0
acceleration    0
year            0
dtype: int64

In [54]:
from sklearn.preprocessing import LabelEncoder

In [55]:
le=LabelEncoder()

In [56]:
dataCategoricalEncoder=dataCategoricalNARemoved.apply(le.fit_transform)
dataCategoricalEncoder

     horsepower  name
0            44    52
1            32    35
2            71    14
3             0   168
4            86   243
..          ...   ...
353           3    94
354           3    58
355          49   113
356           0   223
357          63   262

[358 rows x 2 columns]

In [57]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [58]:
ss.fit(dataNumericalNARemoved)

StandardScaler()

In [59]:
temp = ss.transform(dataNumericalNARemoved)
dataNumericalEncoder = pd.DataFrame(temp,
                                          columns=dataNumericalNARemoved.columns)

In [60]:
dataNumericalEncoder.isna().sum()

origin          0
cylinders       0
displacement    0
weight          0
acceleration    0
year            0
dtype: int64

In [61]:
data_f=pd.concat([dataCategoricalEncoder,dataNumericalEncoder],axis=1)
data_f.tail()

,horsepower,name,origin,cylinders,displacement,weight,acceleration,year
353,3,94,-0.718735,-0.865504,-0.368787,-0.211480,-0.409439,1.092941
354,3,58,-0.718735,0.301541,0.530551,0.441883,-0.373112,0.010582
355,49,113,0.530329,-0.865504,-1.210720,-1.313807,1.443235,-0.801188
356,0,223,-0.718735,0.301541,0.530551,0.357997,-0.191477,-1.342367
357,63,262,0.530329,-0.865504,-1.000236,-0.893197,0.353427,-0.260008

In [62]:
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.linear_model import Lasso,Ridge,ElasticNet
lr = LinearRegression()
sgdR = SGDRegressor()
lasso=Lasso(alpha=0.5)
ridge=Ridge(alpha=0.5)
eNet=ElasticNet(l1_ratio=0.4)

In [63]:
lr.fit(data_f.to_numpy(), y_train.to_numpy())
sgdR.fit(data_f.to_numpy(), y_train.to_numpy())
lasso.fit(data_f.to_numpy(), y_train.to_numpy())
ridge.fit(data_f.to_numpy(), y_train.to_numpy())
eNet.fit(data_f.to_numpy(), y_train.to_numpy())

C:\Users\new\anaconda\envs\environment\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

ElasticNet(l1_ratio=0.4)

In [64]:
dataCategoricalTest=x_test.select_dtypes(object)
dataNumericalTest=x_test.select_dtypes(np.number)

In [65]:
sImputerCategoricalTest = SimpleImputer(strategy="most_frequent")
sImputerCategoricalTest.fit(dataCategorical)
temp = sImputerCategoricalTest.transform(dataCategorical)
dataCategoricalNARemovedTest = pd.DataFrame(temp,
                                            columns=dataCategorical.columns)

In [66]:
#sImputerNumericalTest= SimpleImputer(strategy="mean")
temp = sImputerNumerical.transform(dataNumerical)
dataNumericalNARemovedTest= pd.DataFrame(temp,
                                            columns=dataNumerical.columns)

In [67]:
dataCategoricalEncoderTest=dataCategoricalNARemovedTest.apply(le.fit_transform)

In [68]:
temp = ss.transform(dataNumericalNARemovedTest)
dataNumericalEncoderTest= pd.DataFrame(temp,
                                          columns=dataNumericalNARemovedTest.columns)

In [69]:
data_fTest=pd.concat([dataCategoricalEncoder,dataNumericalEncoder],axis=1)

In [73]:
predLrReg=lr.predict(data_fTest)
predSGD=sgdR.predict(data_fTest)
predlasso=lasso.predict(data_fTest)
predRige=ridge.predict(data_fTest)
predeNet=eNet.predict(data_fTest)

In [74]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((358, 8), (40, 8), (358, 1), (40, 1))

In [75]:
print("linear regression rmse: \t",np.sqrt(mean_squared_error(predLrReg,y_test)))
print("SGD regression rmse: \t",np.sqrt(mean_squared_error(predSGD,y_test)))
print("lasso regression rmse: \t",np.sqrt(mean_squared_error(predlasso,y_test)))
print("ridge regression rmse: \t",np.sqrt(mean_squared_error(predRige,y_test)))
print("elastic net regression rmse: \t",np.sqrt(mean_squared_error(predeNet,y_test)))

ValueError: Found input variables with inconsistent numbers of samples: [358, 40]