In [28]:
import pandas as pd
import numpy as np

In [46]:
airlineData = pd.read_csv("airline_passenger_satisfaction.csv")
airlineData.head()

,Unnamed: 0,Gender,customer_type,age,type_of_travel,customer_class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,...,inflight_entertainment,onboard_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [47]:
airlineData.dropna(how="any", axis=1, inplace=True)

# Removing Unnecessary Columns

In [48]:
airlineData.drop(["Unnamed: 0"], axis=1, inplace=True)

In [49]:
y.value_counts()

satisfaction
neutral or dissatisfied    73452
satisfied                  56428
dtype: int64

# Train Test Split

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X = airlineData.drop(["satisfaction"], axis=1)
y = airlineData[["satisfaction"]]

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=100)

# Processing Train Set

## Processing Categorical Columns

In [53]:
from sklearn.preprocessing import OneHotEncoder

In [54]:
airlineDataTrainCat = X_train.select_dtypes(object)
airlineDataTrainCat.head(2)

        Gender   customer_type   type_of_travel customer_class
25875     Male  Loyal Customer  Personal Travel            Eco
101252  Female  Loyal Customer  Personal Travel            Eco

In [55]:
airlineDataTrainCat.isna().sum()

Gender            0
customer_type     0
type_of_travel    0
customer_class    0
dtype: int64

In [56]:
oneHot = OneHotEncoder()

In [57]:
oneHot.fit(airlineDataTrainCat)

OneHotEncoder()

In [58]:
airlineDataTrainCatEncoded = oneHot.transform(airlineDataTrainCat).toarray()

## Processing of Numerical Columns

In [59]:
from sklearn.preprocessing import MinMaxScaler

In [60]:
airlineDataTrainNum = X_train.select_dtypes(np.number)
airlineDataTrainNum.head(2)

,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,onboard_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes
25875,9,2917,2,3,2,4,1,2,1,1,1,5,4,2,4,1,9
101252,18,919,4,4,4,3,1,4,1,1,5,5,5,5,5,1,7

In [61]:
airlineDataTrainNum.isna().sum()

age                                  0
flight_distance                      0
inflight_wifi_service                0
departure_arrival_time_convenient    0
ease_of_online_booking               0
gate_location                        0
food_and_drink                       0
online_boarding                      0
seat_comfort                         0
inflight_entertainment               0
onboard_service                      0
leg_room_service                     0
baggage_handling                     0
checkin_service                      0
inflight_service                     0
cleanliness                          0
departure_delay_in_minutes           0
dtype: int64

In [62]:
minMax = MinMaxScaler()

In [63]:
minMax.fit(airlineDataTrainNum)

MinMaxScaler()

In [64]:
airlineDataTrainNumScaled = minMax.transform(airlineDataTrainNum)

## Concatenation of Numerical and Categorical

In [66]:
trainDataFinal = np.concatenate([airlineDataTrainNumScaled, airlineDataTrainCatEncoded], axis=1)

## Processing Target Variable

In [68]:
from sklearn.preprocessing import LabelBinarizer

In [69]:
lb= LabelBinarizer()

In [71]:
y_train = lb.fit_transform(y_train)

# Building Models

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier, RandomForestClassifier

In [72]:
lr = LogisticRegression()
dt = DecisionTreeClassifier()
bg = BaggingClassifier()
adb = AdaBoostClassifier()
rf = RandomForestClassifier()

In [73]:
lr.fit(trainDataFinal, y_train)
dt.fit(trainDataFinal, y_train)
bg.fit(trainDataFinal, y_train)
adb.fit(trainDataFinal, y_train)
rf.fit(trainDataFinal, y_train)

/Users/ag78400/opt/anaconda3/envs/AI_for_Healthcare/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/ag78400/opt/anaconda3/envs/AI_for_Healthcare/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/Users/ag78400/opt/anaconda3/envs/AI_for_Healthcare/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/ag78400/opt/anaconda3/envs/AI_for_Healthcare/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/ag78400/opt/anaconda3/envs/AI_for_Healthcare/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier()

# Processing Test Set

## Processing Categorical Columns

In [74]:
airlineDataTestCat = X_test.select_dtypes(object)
airlineDataTestCat.head(2)

       Gender   customer_type   type_of_travel customer_class
11788    Male  Loyal Customer  Business travel       Business
27136  Female  Loyal Customer  Personal Travel            Eco

In [75]:
airlineDataTestCat.isna().sum()

Gender            0
customer_type     0
type_of_travel    0
customer_class    0
dtype: int64

In [76]:
airlineDataTestCatEncoded = oneHot.transform(airlineDataTestCat).toarray()

## Processing of Numerical Columns

In [77]:
airlineDataTestNum = X_test.select_dtypes(np.number)
airlineDataTestNum.head(2)

,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,onboard_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes
11788,52,4243,2,2,2,2,4,4,4,5,2,5,4,4,3,4,52
27136,67,551,4,4,5,3,2,4,4,2,2,5,2,1,2,3,0

In [78]:
airlineDataTestNum.isna().sum()

age                                  0
flight_distance                      0
inflight_wifi_service                0
departure_arrival_time_convenient    0
ease_of_online_booking               0
gate_location                        0
food_and_drink                       0
online_boarding                      0
seat_comfort                         0
inflight_entertainment               0
onboard_service                      0
leg_room_service                     0
baggage_handling                     0
checkin_service                      0
inflight_service                     0
cleanliness                          0
departure_delay_in_minutes           0
dtype: int64

In [79]:
airlineDataTestNumScaled = minMax.transform(airlineDataTestNum)

## Concatenation of Numerical and Categorical

In [80]:
testDataFinal = np.concatenate([airlineDataTestNumScaled, airlineDataTestCatEncoded], axis=1)

## Processing Target Variable

In [81]:
y_test = lb.fit_transform(y_test)

# Predictions and Metrics

In [83]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [82]:
lrPredict = lr.predict(testDataFinal)
dtPredict = dt.predict(testDataFinal)
bgPredict = bg.predict(testDataFinal)
adbPredict = adb.predict(testDataFinal)
rfPredict = rf.predict(testDataFinal)

## Logistic Regression Model Performance

In [84]:
print(accuracy_score(lrPredict, y_test))
print(precision_score(lrPredict, y_test))
print(recall_score(lrPredict, y_test))
print(f1_score(lrPredict, y_test))

0.872959655066215
0.8385610490873648
0.8649241454944252
0.8515385999640094

## Decision Trees Model Performance

In [85]:
print(accuracy_score(dtPredict, y_test))
print(precision_score(dtPredict, y_test))
print(recall_score(dtPredict, y_test))
print(f1_score(dtPredict, y_test))

0.9461040960886973
0.9412546517809676
0.9351232394366197
0.9381789278459772

## Bagging Model Performance

In [86]:
print(accuracy_score(bgPredict, y_test))
print(precision_score(bgPredict, y_test))
print(recall_score(bgPredict, y_test))
print(f1_score(bgPredict, y_test))

0.95903911302741
0.9353180932128301
0.9693296602387511
0.952020202020202

## Boosting Model Performance

In [87]:
print(accuracy_score(adbPredict, y_test))
print(precision_score(adbPredict, y_test))
print(recall_score(adbPredict, y_test))
print(f1_score(adbPredict, y_test))

0.9267400677548506
0.9053694843168527
0.9244548991224102
0.9148126594744618

## Random Forest Model Performance

In [88]:
print(accuracy_score(rfPredict, y_test))
print(precision_score(rfPredict, y_test))
print(recall_score(rfPredict, y_test))
print(f1_score(rfPredict, y_test))

0.9630428087465353
0.9423179160021266
0.971765350877193
0.9568151147098515